@page
@using SpiderWeb.io.Localization
@using SpiderWeb.io.Web.Pages.Sources
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<ioResource> L
@section scripts
{
    <abp-script src="/Pages/Source/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Sources"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="SourcesTable"></abp-table>
    </abp-card-body>
</abp-card>
